1. Write a Python Program to Display Fibonacci Sequence Using Recursion?

In [2]:
def fib(n):
  if n <= 1:
    return n
  else:
    return (fib(n-1) + fib(n-2))

n = 5
if n <= 0:
  print("Enter value grater than zero")

else:
  for i in range(n):
    print(fib(i),end=" ")

0 1 1 2 3

2. Write a Python Program to Find Factorial of Number Using Recursion?

In [3]:
def factorial(n):
  if n < 2:
    return 1
  else:
    return n * factorial(n-1)
factorial(4)

24

3. Write a Python Program to calculate your Body Mass Index?

In [4]:
def body_maas_index(w,h):
  return w/(h**2) # h is height in meters and w is weight in kg

body_maas_index(82,1.85)

23.959094229364496

4. Write a Python Program to calculate the natural logarithm of any number?

In [9]:
import math
print(math.log(1))
print(math.log(10))

0.0
2.302585092994046

5. Write a Python Program for cube sum of first n natural numbers?

In [ ]:
def cube_sum(n):
  return ((n*(n+1))/2)**2

cube_sum(3)

36.0